body {
	background-color: #1C1C1C;
}

a:visited {
  color: #0489B1;
}

a:link {
  color: #0489B1;
}

#indexHyerTitle {
	text-align: center;
	color: #01DFA5;
	font-size: 500%;
}

#indexHyerContent {
	text-align: right;
	color: #086A87;
	font-size: 200%;
}

#indexHyerTitleBanner {
	text-align: center;
	color: #01DFD5;
	font-size: 150%;
}

#indexHyerLinks {
	text-align: right;
	color: #DF7401;
	font-size: 150%;
}

#Four04 {
	text-align: center;
	color: red;
	font-size: 400%;
}